__pycache__
whispercpp-stream
models
data

# Added by cargo

/target
initial-setup

*.db*
*.sqlite3*
.fastembed_cache
.pytest_cache
.env
access.log*

config/

# Python virtual environments
.venv
venv

# Generated outputs
outputs/