[Unit]
Description=Gallagher Kitchen recipe server
After=network.target

[Service]
Type=simple
User=gk
Group=gk
ExecStart=/opt/gk-server/gk-server /etc/gk-server/config.yml
WorkingDirectory=/var/lib/gk-server
Restart=always
RestartSec=3
Environment=RUST_LOG=info,tower_http::trace::on_response=debug

[Install]
WantedBy=multi-user.target
