* {
    box-sizing: border-box;
}

body {
    --primary-color: #8E4A49;
    --bright-color: #E7ECEF;
    --dim-color: #bcc2c5;
    --secondary-accent-color: #37718E;
    --primary-accent-color: #659157;

    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: repeating-linear-gradient(-15deg, #353535 1rem, #303030 2rem, #353535 3rem);
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #666;
}

hr {
    border: 1px solid #ccc;
}

article,
search-bar {
    margin: 0 auto 1rem auto;
    padding: 0.5rem 1rem;
    max-width: 1200px;
    background-color: var(--bright-color);
    border-radius: 0.4rem;
}

search-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
    /* Rounded corners only on the bottom */
    border-radius: 0 0 0.4rem 0.4rem;
    background-color: var(--primary-accent-color);
}

search-bar h1 a {
    color: var(--bright-color);
}

search-bar form {
    /* Flex inside flex here */
    display: flex;
    flex: 1;
}

search-bar input[type="text"] {
    flex: 1;
    padding: 0.5em;
    font-size: 1.2rem;
}

recipe-cards,
image-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}

recipe-card,
image-card {
    display: block;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    min-width: 300px;
    min-height: 300px;
}

recipe-card h4,
image-card h4 {
    margin: 0;
    position: relative;
    z-index: 1;
    color: #ddd;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px 5px 0 0;
    padding: 0.35rem;
}

recipe-card img,
image-card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

/* Make ULs into pills */
ul.pills {
    list-style-type: none;
    padding: 0;
}

revision-list details {
    display: inline-block;
}

revision-list details[open] {
    display: block;
    padding: 2vh 2vw;
    background-color: var(--dim-color);
    border-radius: 0.4rem;
    font-family: monospace;
    white-space: pre-line;
}

ul.pills>li,
revision-list summary {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 0.4rem;
    background-color: var(--primary-accent-color);
    color: #eeeeee;
    font-size: 0.8rem;
    font-weight: 600;
}

full-recipe h1,
full-recipe h2 {
    background-color: var(--primary-accent-color);
    color: var(--bright-color);
    padding: 1rem;
    border-radius: 0.4rem;
}

full-recipe h3,
full-recipe h4,
full-recipe h5,
full-recipe h6,
full-recipe strong {
    display: block;
    margin: 1rem 0;
    padding-left: 2rem;
    border-left: 5px solid var(--primary-accent-color);
}