<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %} | Gallagher Kitchen</title>
    <link rel="stylesheet" href="/static/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,400;0,600;1,400&family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,500;0,9..40,600;1,9..40,400&display=swap" rel="stylesheet">
</head>

<body>
    <search-bar>
        <!-- Search bar -->
        <h1><a href="/">Gallagher Kitchen</a></h1>
        <form action="/search">
            <input type="text" name="query" id="search" placeholder="Search for recipes">
        </form>
    </search-bar>
    <nav>
        <span>Browse</span>
        <a href="/">at random</a>
        <a href="/browse/by-tag">by tag</a>
        <span>Read</span>
        <a href="/articles">articles</a>
        <span>Create</span>
        <a href="/recipe/new">new recipe</a>
    </nav>
    <article>
        {% block content %}{% endblock %}
    </article>

    <footer>
    <ul class="horizontal">
        <li>Made with ❤️ in North Carolina</li>
        <li><a href="/auth/login">Login (creators only)</a></li>
        <li><a href="/auth/logout">Logout</a></li>
    </ul>
    </footer>
</body>

</html>