<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %} | Gallagher Kitchen</title>
    <link rel="stylesheet" href="/static/index.css">
</head>

<body>
    <search-bar>
        <!-- Search bar -->
        <h1><a href="/">Gallagher Kitchen</a></h1>
        <form action="/search">
            <input type="text" name="query" id="search" placeholder="Search for recipes">
        </form>
    </search-bar>
    <nav>
        <span>Browse</span>
        <a href="/">at random</a>
        <a href="/browse/by-tag">by tag</a>
    </nav>
    <article>
        {% block content %}{% endblock %}
    </article>
</body>

<footer>
    <ul class="horizontal">
        <li>Made with ❤️ in North Carolina</li>
        <li><a href="/auth/login">Login (creators only)</a></li>
        <li><a href="/auth/logout">Logout</a></li>
    </ul>
</footer>

</html>