{% extends "base.html.jinja" %}

{% block title %}
Search results for "{{query}}"
{% endblock %}

{% block content %}
<h1>Search results for "{{query}}"</h1>
<image-cards>
    {% for recipe in results %}
    <a href="/recipe/{{recipe.recipe_id}}">
        <image-card>
            <h4>{{recipe.name}}</h4>
            {% if recipe.thumbnail %}
            <img src="{{recipe.thumbnail | to_data_url}}" alt="{{recipe.name}}">
            {% endif %}
        </image-card>
    </a>
    {% else %}
    <p>No results found</p>
    {% endfor %}
</image-cards>

{% if page > 0 %}
<a href="/search?query={{query}}&page={{page - 1}}">Previous page</a>
{% endif %}
<a href="/search?query={{query}}&page={{page + 1}}">Next page</a>

{% endblock %}