{% extends "base.html.jinja" %}

{% block title %}
Search results for "{{query}}"
{% endblock %}

{% block content %}
<h1>Search results for "{{query}}"</h1>
<image-cards>
    {% for search_result in results %}
    <a href="/recipe/{{search_result.recipe.recipe_id}}">
        <image-card>
            <h4>{{search_result.recipe.name}}</h4>
            <img src="https://storage.googleapis.com/kibitz-prod/gallagher-kitchen/images/{{search_result.recipe.thumbnail_image_id}}.webp"
                alt="{{search_result.recipe.name}}" loading="lazy">

            <search-relevance style="--relevance: {{search_result.relevance}}%;"
                title="{{search_result.relevance_percent}}% similar"></search-relevance>
        </image-card>
    </a>
    {% else %}
    <p>No results found</p>
    {% endfor %}
</image-cards>

{% if page > 0 %}
<a href="/search?query={{query}}&page={{page - 1}}">Previous page</a>
{% endif %}
<a href="/search?query={{query}}&page={{page + 1}}">Next page</a>

{% endblock %}